## Comenzamos con Analisis Exploratorio

- Importamos las funciones que vayamos creando:

In [1]:
import os
print(os.getcwd())

c:\Users\Usuario\REPO_BOOTCAMP\EDA_entrega\src\notebooks

In [2]:
os.chdir('c:/Users/Usuario/REPO_BOOTCAMP/EDA_entrega/src')

In [3]:
print(os.getcwd())

c:\Users\Usuario\REPO_BOOTCAMP\EDA_entrega\src

In [4]:
# Importamos
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from utils.funciones_eda import *

In [5]:
df_online_retail_2010 = pd.read_csv("./data/online_retail_2010.csv")
df_online_retail_2010.head(5)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer_ID,Country,Devolucion,Ventas,Precio_Total,Trimestres
0,493410,TEST001,This is a test product.,5,2010-01-04 09:24:00,3.900000,12346.0,United Kingdom,False,True,19.50,1
1,C493411,21539,RETRO SPOTS BUTTER DISH,1,2010-01-04 09:43:00,5.796827,14590.0,United Kingdom,True,False,5.80,1
2,493412,TEST001,This is a test product.,5,2010-01-04 09:53:00,3.900000,12346.0,United Kingdom,False,True,19.50,1
3,493413,21724,PANDA AND BUNNIES STICKER SHEET,1,2010-01-04 09:54:00,1.046759,12345.0,United Kingdom,False,True,1.05,1
4,493413,84578,ELEPHANT TOY WITH BLUE T-SHIRT,1,2010-01-04 09:54:00,3.834224,12345.0,United Kingdom,False,True,3.83,1

### Tabla de Variables

|Columna/Variable|Descripción|Tipo_de_Variable|Importancia inicial|Nota|
|-|-|-|-|-|
|Invoice|Numero de factura o ticket|||Hay numeros y letras|
|StockCode|Numero identificativo del producto||||
|Description|Nombre detallado del producto| | | |
|Quantity|Cantidad de producto adquirido o devuelto| | || |
|InvoiceDate| Fecha de la factura o ticket| | | |
|Price| Precio del articulo por unidad| | | |
|Customer_ID | Identificativo del cliente| | | |
|Country| Pais de donde procede el movimiento | | | |
|Devolucion| Devolucion| | | |
|Ventas| Ventas| | | |
|Precio_Total| Cuantia de la factura o ticket| | | |
|Trimestres| Trimestre al que pertenece el movimiento | | |Tenemos 4 trimestres|

In [6]:
# Cardinalidad
df_o_r_2010_tipificacion = pd.DataFrame([df_online_retail_2010.nunique(), df_online_retail_2010.nunique()/len(df_online_retail_2010) * 100, df_online_retail_2010.dtypes]).T.rename(columns = {0: "Card",\
                                                                                                          1: "%_Card", 2: "Tipo"})
df_o_r_2010_tipificacion

               Card    %_Card     Tipo
Invoice       26164  5.451856   object
StockCode      4195  0.874122   object
Description    4037  0.841199   object
Quantity        514  0.107103    int64
InvoiceDate   23113  4.816111   object
Price          3840   0.80015  float64
Customer_ID    4259  0.887458  float64
Country          40  0.008335   object
Devolucion        2  0.000417     bool
Ventas            2  0.000417     bool
Precio_Total  13445  2.801567  float64
Trimestres        4  0.000833    int64

In [7]:
# Sigamos con la cardinalidad y los tipos:

cardinalidad(df_online_retail_2010, 10, 30)

         Columna  Cardinalidad  Porcentaje Cardinalidad               Tipo
0        Invoice         26164                 5.451856  Numérica Discreta
1      StockCode          4195                 0.874122  Numérica Discreta
2    Description          4037                 0.841199  Numérica Discreta
3       Quantity           514                 0.107103  Numérica Discreta
4    InvoiceDate         23113                 4.816111  Numérica Discreta
5          Price          3840                 0.800150  Numérica Discreta
6    Customer_ID          4259                 0.887458  Numérica Discreta
7        Country            40                 0.008335  Numérica Discreta
8     Devolucion             2                 0.000417            Binaria
9         Ventas             2                 0.000417            Binaria
10  Precio_Total         13445                 2.801567  Numérica Discreta
11    Trimestres             4                 0.000833         Categórica

|Columna/Variable|Descripción|Tipo_de_Variable|Importancia inicial|Nota|
|-|-|-|-|-|
|Invoice|Numero de factura o ticket|Numerica Discreta|3|Hay numeros y letras|
|StockCode|Numero identificativo del producto|Numerica Discreta|1||
|Description|Nombre detallado del producto|Numerica Discreta |2 | |
|Quantity|Cantidad de producto adquirido o devuelto| Numerica Discreta|3 || |
|InvoiceDate| Fecha de la factura o ticket|Numerica Discreta |3| |
|Price| Precio del articulo por unidad| Numerica Discreta|3 | |
|Customer_ID | Identificativo del cliente|Numerica Discreta |2 | |
|Country| Pais de donde procede el movimiento |Numerica Discreta |0 | |
|Devolucion| Devolucion| Binaria|0 |True or False |
|Ventas| Ventas| Binaria|0 |True or False |
|Precio_Total| Cuantia de la factura o ticket|Numerica Discreta |0 | |
|Trimestres| Trimestre al que pertenece el movimiento | Categorica|0 |Tenemos 4 trimestres|

In [ ]:
# Visualizamos los outliers: